<html lang="zh-cn"><head><title>term html sample</title><script></script></head><body><h3>条款 b3124d50</h3><hr/><p>正文:</p><p>1. 如果符合附件44的情况，则附件1406自动生效。<br/>
附件42. 定义：需要以未来的收入换取资源，而且需要与同行争夺。<br/>
反向的情况，是创始时能一次筹集到足够的资源，可见未来的收入和积累都超过支出。或者需要以未来的收入换取资源，但是不需要竞争即可获得充足资源。<br/>
附件44. 出现以下情况之一：<br/>
- 决策部门未界定执行部门工作的合规性要求。<br/>
- 决策部门界定了执行部门工作的合规性要求。<br/>
  - 执行部门成员对指令不进行合规检查，即使不合规也执行。<br/>
  - 执行部门成员及下达指令者未按要求填写和提交表单，比如通用工单、日志。<br/>
附件1406.1. 在执行部门内，基本制度和劳动合同未定义的事项由经理直接指挥。<br/>
附件1406.2. 直接指挥的方式：<br/>
  - 经理填写通用工单明确事项的处理要求，并交给负责执行的成员；<br/>
  - 经理制订具体规章明确事项的处理要求，并提交给决策部门备案，决策部门签收后具体规章即生效。执行部门成员根据生效的具体规章自行填写通用工单并执行。<br/>
附件1406.3. 经理和执行人员都要向决策部门归档通用工单。执行人员应在收到或自行填写通用工单24小时内归档。经理填写的通用工单归档要求是：<br/>
  - 在决策部门的一个审议周期内，每一事项的前3份通用工单，应在出具24小时内向决策部门归档；<br/>
  - 在决策部门的一个审议周期内，同一事项的第4份通用工单起，可以汇总后在审议周期结束前一并归档。<br/>
附件1406.4. 决策部门成员应：<br/>
  - 在审议周期的第10天结束前阅读完上一个审议周期结束前归档的通用工单，提交审议报告以及基本制度的修订动议。<br/>
  - 在审议周期的第20天结束前阅读完其他成员提交的审议报告和基本制度的修订动议，提交审议报告。<br/>
  - 在审议周期结束前对基本制度修订动议进行表决。<br/>
</p><hr/><p>注释:</p><p>附件44. - 下达指令者的指令包括对更早指令的掩盖，通过互相包庇产生系统性的对抗。<br/>
- 共同体曾经对下达指令者违约，以一定范围内的割据作为抵押物。这是历史上资源紧缺，无法兑现约定报酬的后遗症。<br/>
- 把一定范围内的割据作为违约抵押物的情况，解除割据应该同时处理历史欠账。在共同体设立阶段，就要确定是否符合附件42，如果符合应该在设立时解决。<br/>
附件1406. 1406准确的定位是决策部门的动议套件，可以用作其它模型的附件。 ​​​<br/>
附件1406.2. 在使用IT系统时，可修改为经理向系统提交通用工单，并由系统通知负责执行的成员。<br/>
附件1406.3. - 如果出现重大失误，决策部门可能召开临时会议干预。所以要求及时归档。<br/>
- 在使用IT系统时，可以由系统实时归档。本条款可以根据情况修订。<br/>
附件1406.4. - 时间按一月一周期安排，只是范例。可以根据基本制度的完善程度自行调节，从一周到一年都可以考虑。<br/>
- 基本制度生效后，所规定的工作事项就不再允许经理直接指挥。相应的具体规章也同时失效。<br/>
- 基本制度的规定，可能与通用工单规定的相同、相似、相反......<br/>
</p><hr/></body></html>