<html lang="zh-cn"><head><title>term html sample</title><script></script></head><body><h3>条款 e55c000c</h3><hr/><p>正文:</p><p> 本条款按照（十）.条款修订。股东会由全体股东组成，是公司的权力机构，行使下列职权：<br/>
（一）. 本条款按照（十）.条款修订。决定公司的经营方针和投资计划；<br/>
（二）. 本条款按照（十）.条款修订。选举和更换非由职工代表担任的董事、监事，决定有关董事、监事的报酬事项；<br/>
（三）. 本条款按照（十）.条款修订。审议批准董事会的报告；<br/>
（四）. 本条款按照（十）.条款修订。审议批准监事的报告；<br/>
（五）. 本条款按照（十）.条款修订。审议批准公司的年度财务预算方案、决算方案；<br/>
（六）. 本条款按照（十）.条款修订。审议批准公司的利润分配方案和弥补亏损的方案；<br/>
（七）. 本条款按照（十）.条款修订。对公司增加或者减少注册资本作出决议；<br/>
（八）. 本条款按照（十）.条款修订。对发行公司债券作出决议；<br/>
（九）. 本条款按照（十）.条款修订。对公司合并、分立、解散、清算或者变更公司形式作出决议；<br/>
（十）. 本条款按照本条款修订。修改公司章程；<br/>
</p><hr/></body></html>