<html lang="zh-cn"><head><title>term html sample</title><script></script></head><body><h3>条款 96b99526</h3><hr/><p>正文:</p><p>基本管理制度.利益分配.7. 本条款按照二级决策条款3.条款修订。director专户由director与supervisor共同使用：<br/>
基本管理制度.利益分配.7.1. 本条款按照二级决策条款3.条款修订。director专户中的RIU可以是负数，最小值由预算透支限额确定。<br/>
基本管理制度.利益分配.7.2. 本条款按照二级决策条款3.条款修订。收入的(100-p)%转入director专户。<br/>
基本管理制度.利益分配.7.3. 本条款按照二级决策条款3.条款修订。按生效的admin工作计划（含预算案）从director专户转入admin专户，余额不足时后续条款的支出暂缓。<br/>
基本管理制度.利益分配.7.4. 本条款按照二级决策条款3.条款修订。supervisor按supervisor工作计划（含预算案）使用director专户余额，余额不足时后续条款的支出暂缓。<br/>
基本管理制度.利益分配.7.5. 本条款按照二级决策条款3.条款修订。director按director工作计划（含预算案）使用director专户余额，余额不足时后续条款的支出暂缓。<br/>
基本管理制度.利益分配.7.6. 本条款按照二级决策条款3.条款修订。deployer、director、supervisor从director专户领取报酬，director、supervisor竞聘者须明确报酬的计算公式，deployer报酬数额为director、supervisor报酬的中位数。director专户数额不足时以应发数额为权重按比例分配，等候期间不计利息。<br/>
</p><hr/><p>注释:</p><p>基本管理制度.利益分配.7.3.<br/>
- 工作计划和预算案可以根据工作需要规定资源转入时间，滚动利用预算周期内的交易收入。<br/>
- admin使用资源的优先级高于director和supervisor。<br/>
基本管理制度.利益分配.7.4.<br/>
supervisor使用资源的优先级高于director。<br/>
基本管理制度.利益分配.7.6.<br/>
- deployer、director、supervisor的报酬优先级低于工作支出。<br/>
- director、supervisor任期内报酬公式不变，如果情况变化可以辞职，再与其他竞聘者一起根据当时情况竞聘。<br/>
</p><hr/></body></html>