<html lang="zh-cn"><head><title>term html sample</title><script></script></head><body><h3>条款 5c7d5a18</h3><hr/><p>正文:</p><p>附件34.3. 规章使用过程遇到问题可以提出修订委托，如发往反对者将自动转为帮助切换规章的委托（切换到对方实际使用的分支版本）。如果是付费委托，受托者只需回答实际收到的问题。<br/>
</p><hr/><p>注释:</p><p>- 避免断章取义：隐藏规章之间的依赖关系，截取个别章节和效果，用来支持相反的前置条款。<br/>
  - 例如：不刷牙的张三向刷牙的李四询问后续问题，李四只需要回答如何从不刷牙开始刷牙，而无须回答张三的原始问题。以免被断章取义。<br/>
    - 注意是后续问题。如果询问刷牙的效果（假设这是他们最初的选择分岔点），则可以直接回答。<br/>
- 注意：有的是故意设套。也有下意识地--理性的一面已经做出可靠的判断，潜意识里做出相反的选择，于是无法自控地沿着曾经说服过自己的模式去“套话”。<br/>
</p><hr/></body></html>