<html lang="zh-cn"><head><title>term html sample</title><script></script></head><body><h3>条款 40880d93</h3><hr/><p>正文:</p><p>二级决策条款2. 本条款按照自修订条款1.条款修订。根据director会议议事规则，经二分之一以上<term.f70677ff.entity.director>通过可以作出决议：<br/>
  - <term.f70677ff.entity.director>工作计划（含预算案）<br/>
  - <term.f70677ff.entity.director>工作报告<br/>
  - 审议报告<br/>
  - 任免admin<br/>
  - admin工作计划（含预算案）<br/>
  - 设立、撤销部门<br/>
  - worker劳动合同<br/>
  - 制订基本管理制度<br/>
  - 制订保密文件的脱敏版本<br/>
</p><hr/><p>注释:</p><p>本条款是指针对未规定的事项，制订基本管理制度的第一版。后续版本按照各条款修订权产生。<br/>
</p><hr/></body></html>