<html lang="zh-cn"><head><title>term html sample</title><script></script></head><body><h3>条款 6208f678</h3><hr/><p>正文:</p><p> 监事行使下列职权：<br/>
（一）. 本条款按照章程第八条（十）条款修订。检查公司财务；<br/>
（二）. 本条款按照章程第八条（十）条款修订。对董事、高级管理人员执行公司职务的行为进行监督，对违反法律、行政法规、公司章程或者股东会决议的董事、高级管理人员提出罢免的建议；<br/>
（三）. 本条款按照章程第八条（十）条款修订。当董事、高级管理人员的行为损害公司的利益时，要求董事、高级管理人员予以纠正；<br/>
（四）. 本条款按照章程第八条（十）条款修订。提议召开临时股东会会议，在董事会不履行本章程规定的召集和主持股东会会议职责时召集和主持股东会会议；<br/>
（五）. 本条款按照章程第八条（十）条款修订。向股东会会议提出提案；<br/>
（六）. 本条款按照章程第八条（十）条款修订。依照《公司法》第一百五十二条的规定，对董事、高级管理人员提起诉讼； <br/>
 监事可以列席董事会会议。<br/>
</p><hr/></body></html>