<html lang="zh-cn"><head><title>term html sample</title><script></script></head><body><h3>条款 25c83dac</h3><hr/><p>正文:</p><p> 董事会行使下列职权：：<br/>
（一）. 本条款按照章程第八条（十）条款修订。负责召集股东会，并向股东会报告工作；<br/>
（二）. 本条款按照章程第八条（十）条款修订。执行股东会的决议；<br/>
（三）. 本条款按照章程第八条（十）条款修订。审定公司的经营计划和投资方案；<br/>
（四）. 本条款按照章程第八条（十）条款修订。制订公司的年度财务预算方案、决算方案；<br/>
（五）. 本条款按照章程第八条（十）条款修订。制订公司的利润分配方案和弥补亏损方案；<br/>
（六）. 本条款按照章程第八条（十）条款修订。制订公司增加或者减少注册资本以及发行公司债券的方案；<br/>
（七）. 本条款按照章程第八条（十）条款修订。制订公司合并、分立、变更公司形式、解散的方案；<br/>
（八）. 本条款按照章程第八条（十）条款修订。决定公司内部管理机构的设置；<br/>
（九）. 本条款按照章程第八条（十）条款修订。决定聘任或者解聘公司经理及其报酬事项，并根据经理的提名决定聘任或者解聘公司副经理、财务负责人及其报酬事项；<br/>
（十）. 本条款按照章程第八条（十）条款修订。制定公司的基本管理制度；<br/>
</p><hr/></body></html>