<html lang="zh-cn"><head><title>term html sample</title><script></script></head><body><h3>条款 77666f44</h3><hr/><p>正文:</p><p>基本管理制度.保密制度.1. 本条款按照自修订条款1.条款修订。本制度正文公开。<br/>
基本管理制度.保密制度.2. 本条款按照自修订条款1.条款修订。不可修订条款、自修订条款、二级决策条款的正文以及执行记录的保密事项由这些条款自己定义，本制度不得规定。<br/>
基本管理制度.保密制度.3. 本条款按照二级决策条款1.条款修订。其它规章正文及执行记录默认为公开。<br/>
基本管理制度.利益分配.1. 利益分配原则：优先劣后次序与决策层级相反。<br/>
基本管理制度.利益分配.2. 每个成员设一个专户，每个专户可以容纳所有种类的资产。<br/>
基本管理制度.利益分配.3. 本条款按照自修订条款1.条款修订。设四个共同体专户，每个专户可以容纳所有种类的资产。分别由：deployer、trustee、director和supervisor、admin管理。<br/>
基本管理制度.利益分配.4. 本条款按照自修订条款1.条款修订。按照二级决策条款2.设立部门时，开设部门专户，并明确与其它专户的资源交换规则。<br/>
基本管理制度.利益分配.5. deployer专户：<br/>
基本管理制度.利益分配.5.1. 本条款按照自修订条款1.条款修订。deployer专户用于deployer工作经费，以及重构期间发生的短期支出。<br/>
基本管理制度.利益分配.5.2. 本条款按照二级决策条款3.条款修订。每月末将director专户余额的0.5%转入deployer专户。<br/>
基本管理制度.利益分配.6. 本条款按照二级决策条款4.条款修订。trustee专户：<br/>
基本管理制度.利益分配.6.1. 本条款按照二级决策条款4.条款修订。RIU持有者可以将RIU转入trustee专户，委托trustee卖出。<br/>
基本管理制度.利益分配.6.2. 本条款按照二级决策条款4.条款修订。投资者可以将其它资源转入trustee专户，委托trustee买入RIU。<br/>
基本管理制度.利益分配.6.3. 本条款按照二级决策条款4.条款修订。收入的p%用于购买trustee专户中的RIU，低价优先。交易获得的RIU支付trustee报酬后，余额转入director专户。<br/>
基本管理制度.利益分配.6.4. 本条款按照二级决策条款4.条款修订。RIU交易由trustee按价格优先、时间优先原则撮合。<br/>
基本管理制度.利益分配.6.5. 本条款按照二级决策条款4.条款修订。trustee从收入的p%购买的RIU中领取报酬，竞聘者须明确报酬的计算公式。<br/>
基本管理制度.利益分配.7. 本条款按照二级决策条款3.条款修订。director专户由director与supervisor共同使用：<br/>
基本管理制度.利益分配.7.1. 本条款按照二级决策条款3.条款修订。director专户中的RIU可以是负数，最小值由预算透支限额确定。<br/>
基本管理制度.利益分配.7.2. 本条款按照二级决策条款3.条款修订。收入的(100-p)%转入director专户。<br/>
基本管理制度.利益分配.7.3. 本条款按照二级决策条款3.条款修订。按生效的admin工作计划（含预算案）从director专户转入admin专户，余额不足时后续条款的支出暂缓。<br/>
基本管理制度.利益分配.7.4. 本条款按照二级决策条款3.条款修订。supervisor按supervisor工作计划（含预算案）使用director专户余额，余额不足时后续条款的支出暂缓。<br/>
基本管理制度.利益分配.7.5. 本条款按照二级决策条款3.条款修订。director按director工作计划（含预算案）使用director专户余额，余额不足时后续条款的支出暂缓。<br/>
基本管理制度.利益分配.7.6. 本条款按照二级决策条款3.条款修订。deployer、director、supervisor从director专户领取报酬，director、supervisor竞聘者须明确报酬的计算公式，deployer报酬数额为director、supervisor报酬的中位数。director专户数额不足时以应发数额为权重按比例分配，等候期间不计利息。<br/>
基本管理制度.利益分配.8. 本条款按照二级决策条款1.条款修订。admin专户：<br/>
基本管理制度.利益分配.8.1. 本条款按照二级决策条款1.条款修订。admin按admin工作计划（含预算案）调用admin专户中的资源。<br/>
基本管理制度.利益分配.8.2. 本条款按照二级决策条款1.条款修订。member的工作成果提交到admin专户，从admin专户领取报酬，报酬金额在合同中规定。<br/>
基本管理制度.利益分配.8.3. 本条款按照二级决策条款1.条款修订。admin从admin专户领取报酬（优先级在worker之后），竞聘者须明确报酬的计算公式。本专户数额不足而等候期间不计利息。<br/>
基本管理制度.1406条款.1. 本条款按照<term.f70677ff.term.4>.条款修订。在执行部门内，<term.f70677ff.term.5>和劳动合同未定义的事项由<term.f70677ff.entity.admin>直接指挥。<br/>
基本管理制度.1406条款.2. 本条款按照<term.f70677ff.term.4>.条款修订。直接指挥的方式：<br/>
  - <term.f70677ff.entity.admin>填写通用工单明确事项的处理要求，并交给负责执行的成员；<br/>
  - <term.f70677ff.entity.admin>制订具体规章明确事项的处理要求，并提交给<term.f70677ff.entity.directors>备案，<term.f70677ff.entity.directors>签收后具体规章即生效。执行部门成员根据生效的具体规章自行填写通用工单并执行。<br/>
基本管理制度.1406条款.3. 本条款按照<term.f70677ff.term.4>.条款修订。<term.f70677ff.entity.admin>和执行人员都要向<term.f70677ff.entity.directors>归档通用工单。执行人员应在收到或自行填写通用工单24小时内归档。<term.f70677ff.entity.admin>填写的通用工单归档要求是：<br/>
  - 在<term.f70677ff.entity.directors>的一个审议周期内，每一事项的前3份通用工单，应在出具24小时内向<term.f70677ff.entity.directors>归档；<br/>
  - 在<term.f70677ff.entity.directors>的一个审议周期内，同一事项的第4份通用工单起，可以汇总后在审议周期结束前一并归档。<br/>
基本管理制度.1406条款.4. 本条款按照<term.f70677ff.term.4>.条款修订。<term.f70677ff.entity.directors>成员应：<br/>
  - 在审议周期的第10天结束前阅读完上一个审议周期结束前归档的通用工单，提交审议报告以及<term.f70677ff.term.5>的修订动议。<br/>
  - 在审议周期的第20天结束前阅读完其他成员提交的审议报告和<term.f70677ff.term.5>的修订动议，提交审议报告。<br/>
  - 在审议周期结束前对<term.f70677ff.term.5>修订动议进行表决。<br/>
</p><hr/><p>注释:</p><p>基本管理制度.利益分配.<br/>
基本管理制度.利益分配.2.<br/>
- 所有工作成果都属于资产。<br/>
基本管理制度.利益分配.5.<br/>
基本管理制度.利益分配.5.1.<br/>
- deployer无须制订工作计划和预算案。<br/>
- 部署时根据实际情况确定本条的记账方式。<br/>
基本管理制度.利益分配.5.2.<br/>
deployer使用资源的优先级高于director。<br/>
基本管理制度.利益分配.6.<br/>
基本管理制度.利益分配.6.3.<br/>
大部分收入还是由director使用，其中p%体现为RIU（扣除trustee报酬），其余体现为对外交易约定的资源。<br/>
基本管理制度.利益分配.6.5.<br/>
trustee任期内报酬公式不变，如果情况变化可以辞职，再与其他竞聘者一起根据当时情况竞聘。<br/>
基本管理制度.利益分配.7.<br/>
基本管理制度.利益分配.7.3.<br/>
- 工作计划和预算案可以根据工作需要规定资源转入时间，滚动利用预算周期内的交易收入。<br/>
- admin使用资源的优先级高于director和supervisor。<br/>
基本管理制度.利益分配.7.4.<br/>
supervisor使用资源的优先级高于director。<br/>
基本管理制度.利益分配.7.6.<br/>
- deployer、director、supervisor的报酬优先级低于工作支出。<br/>
- director、supervisor任期内报酬公式不变，如果情况变化可以辞职，再与其他竞聘者一起根据当时情况竞聘。<br/>
基本管理制度.利益分配.8.<br/>
基本管理制度.利益分配.8.2.<br/>
- member所包括角色范围根据实际情况界定。通常包括admin、worker，有时也包括一些外部人员、机构。<br/>
- 报酬可能包括不同种类的资源。<br/>
基本管理制度.利益分配.8.3.<br/>
- admin任期内报酬公式不变，如果情况变化可以辞职，再与其他竞聘者一起根据当时情况竞聘。<br/>
基本管理制度.1406条款.<br/>
1406准确的定位是<term.f70677ff.entity.directors>的动议套件，可以用作其它模型的附件。 ​​​<br/>
基本管理制度.1406条款.2.<br/>
在使用IT系统时，可修改为<term.f70677ff.entity.admin>向系统提交通用工单，并由系统通知负责执行的成员。<br/>
基本管理制度.1406条款.3.<br/>
- 如果出现重大失误，<term.f70677ff.entity.directors>可能召开临时会议干预。所以要求及时归档。<br/>
- 在使用IT系统时，可以由系统实时归档。本条款可以根据情况修订。<br/>
基本管理制度.1406条款.4.<br/>
- 时间按一月一周期安排，只是范例。可以根据<term.f70677ff.term.5>的完善程度自行调节，从一周到一年都可以考虑。<br/>
- <term.f70677ff.term.5>生效后，所规定的工作事项就不再允许<term.f70677ff.entity.admin>直接指挥。相应的具体规章也同时失效。<br/>
- <term.f70677ff.term.5>的规定，可能与通用工单规定的相同、相似、相反......<br/>
</p><hr/></body></html>